 .resume button{
    width: 240px;
    height: 40px;
    max-width: 100%;
    border: none !important;
    border-radius: 14px;
    color: white;
    background-color: #878b98;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 0.8px;
    line-height: 22.4px;
    margin-left:60px;
    margin-top:25px;
}
 .historico {
    transition: all 1s;
    display: none;
    opacity: 0;
    justify-content: center;
    margin-top: 20px;
  }
.historico .card {
    border-radius: 12px;
    border: 1px solid #c8cad0;
    background-color: #ffffff;
margin-left: 2px;
    margin-top: 9px;
  }
.historico .card .content {
    display: -webkit-box;
    text-align: left;
    width: 315px;
    height: 79px;
  }
.historico .card .content .body {
    width: 70%;
    padding: 11px;
  }
.historico .card .content .body .title {
    color: #373f54;
    font-family: Texta;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 21px;
  }
.historico .card .content .body .subtitle {
    color: #373f54;
    font-family: Texta;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.8px;
    line-height: 16px;
  }
  
.historico .card .pontos {
    width: 30%;
    padding: 11px;
  }
.historico .card .pontos div {
    height: 100%;
    border-left: 4px solid #babf1c;
  }
  
.historico .card .pontos div h1,
  p {
    text-align: right;
  }
.historico .card .pontos div p {
    padding-top: 0px;
    margin: 0px;
  }
.historico .card .pontos div h1 {
    padding-top: 10px;
    margin: 0px;
    color: #babf1c;
  }
  
.historico .card .footer {
    height: 36px;
  }
.historico .card .footer div {
    border-top: 1px solid #c8cad0;
    margin: 0px 10px;
  }
.historico .card .footer div img {
    padding: 10px;
  }
  